body {
  background-image: url("./images/sw_background.jpg") !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important; 
  background-origin: content-box !important;
  background-size: cover !important;
}
